/* Configurações Gerais */
.page{
  max-width: 640px;
  /* height: 100vh; */
}

.page, main{
  background-color: #e5e5e5;
}

.page, header, main{
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  height: 92px;
  box-sizing: border-box;
  padding: 8px 21px 18px 21px;

  background: #CF2B2B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1{
  font-family: 'Righteous';
  font-weight: 400;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;

  color: #FFFFFF;
}

header p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
}

/* Seleção de produtos */
main {
  margin-top: 92px;
  margin-bottom: 92px;
}

section{
  margin-top: 27px;
  margin-bottom: 16px;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
}

section h2{
  font-family: 'Righteous';
  font-weight: 400;
  margin-bottom: 17px;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.018em;

  color: #333333;
}

.itens{
  display: flex;
  height: 216px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.itens::-webkit-scrollbar{
  display: none;
}

.card-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min-content;
  min-width: 172px;
  height: 100%;
  padding: 2% 4%;
  margin-right: 14px;
  border-radius: 9px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-item h3, .card-item p, .card-item span{
  font-family: 'Roboto';
  width: 100%;
}

.card-item img{
  width: 100%;
  height: 46%;
  object-fit: cover;
  border-radius: 8px;
}

.card-item h3{
  /* margin-top: 1%; */
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
}

.card-item p{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  /* margin-top: 4px; */

  color: #A6A6A6;
}

.card-item span {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.bebida img {
  height: 55%;
}

.card-item span img{
display: none;
}

.selecionado{
  border: medium solid #32B72F;
}

.card-item span .selecionado{
  /* Dimensões em relação ao pai (span) */
  border: none;
  display: inherit;
  width: 14%;   
  height: 90%;
}

/* Botão finalizar pedido */
.pedir{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 92px;
  width: 100%;
  max-width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFFFFF;
}

.pedir button{
  height: 66%;
  width: 88%;
  border: none;
  border-radius: 90px;
  padding: 0 8%;
  background: #32B72F;
  box-sizing: border-box;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.018em;

  color: #FFFFFF;
}

.pedir button:disabled{
  font-weight: 400;
  background: #CBCBCB;
}



